.container {
  padding: 0 2rem;
  background-color: #fff8dd;
  color: #002c00;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.btn {
  background-color: #009879;
  color: white;

  border: 0;
  border-radius: 10px;

  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;

  width: 100%;
}

.tableContainer {
  border-radius: 10px;

  overflow: hidden;

  width: 100%;
}

.table {
  border-collapse: collapse;

  overflow: scroll;

  margin: 0;

  font-size: 0.85rem;
  font-family: sans-serif;

  width: 100%;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.table th,
.table td {
  padding: 0.75rem 1rem;
}

.table tbody tr {
  cursor: pointer;
  border-bottom: 1px solid #dddddd;
  transition: 300ms;
}

.table tbody tr:nth-of-type(even) {
  background-color: #e2e2e2;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.table tbody tr:hover {
  color: #009879;
}
